.justify-content-between{
  display: flex;
  justify-content: space-between;
}
.logo{
  text-transform: uppercase;
  font-weight: bold;
}
.allCards{
  padding: 10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
}
.card-container{
  display: inline-block;
  border: 4px solid black;
  border-radius: 5%;
  padding: 10px 20px;
  text-align: left;
}
.card-id{
  text-align: center;
  margin: 0;
  font-weight: 700;
}
.info-hidden{
  max-width: 220px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: end;
}
.toggle{
  height: auto;
}
.noItemsAdded{
  text-transform: uppercase;
  text-align: center;
  padding: 100px;
  font-size: 35px;
}
.disable{
  display: none;
}
.card-input{
  width: 150px;
}
.btn-success, .btn-warning{
  width: 70px;
}